<!doctype html>


<html lang="fr">
<head>
		<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
	</head>

<body>
	<nav class="d-flex flex-column">
		<header>
						<div>
				Header
			</div>
					</header>
		<nav>
						<div class="d-flex flex-column">
			<a class="nav-link active" href="#">
				Accueil
		
</a>
			<a class="nav-link " href="account.html">
				Mon Compte
		
</a>
	</div>

					</nav>
		<main>
			Ceci est la page d'accueil
		</main>
		<footer>
						<div>
				Footer
			</div>
					</footer>
	</div>
</body>

</html>