<!doctype html>

<html lang="fr">
<head>
	{% block head %}
	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../bootstrap-5.3.8-dist/css/bootstrap.css">
	{% endblock %}
</head>

<body>
	<header>
		{% block header %}
		<div>
			Header
		</div>
		{% endblock %}
	</header>
	<nav>
		{% block nav %}
		<div>
			Nav
		</div>
		{% endblock %}
	</nav>
	<main>
		{% block main %}
		{% endblock %}
	</main>
	<footer>
		{% block footer %}
		<div>
			Footer
		</div>
		{% endblock %}
	</footer>

</body>

</html>