<!doctype html>

{% import "nav.tmpl" as nav_tmpl %}

<html lang="fr">
<head>
	{% block head %}
	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="../js/bootstrap.js"></script>
	{% endblock %}
</head>

<body>
	<nav class="d-flex flex-column">
		<header>
			{% block header %}
			<div>
				Header
			</div>
			{% endblock %}
		</header>
		<nav>
			{% block nav %}
			{{ nav_tmpl.nav(current=0, items=[
			{"target": "index.html", "text": "Accueil"},
			{"target": "account.html", "text": "Mon Compte"}
			]) }}
			{% endblock %}
		</nav>
		<main>
			{% block main %}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
			<div>
				Footer
			</div>
			{% endblock %}
		</footer>
	</div>
</body>

</html>