{% extends "page.tmpl" %}
{% set nav_current = 3 %}

{% block main %}
<a href="/play/official-puzzle"><button class="btn btn-primary">Jouer à un puzzle officiel</button></a>
<a href="/play/personal-puzzle"><button class="btn btn-primary">Jouer à un puzzle personnel</button></a>
{% endblock %}
