{% extends "play/puzzle.tmpl" %}
{% set nav_current = 3 %}

{% block puzzle_title %}
    Monument historique : {{ image['nom_monument'] if image['nom_monument'] else "Édifice inconnu" }}
{% endblock %}

{% block main %}
    {{ super() }}
{% endblock %}