{% extends "play/puzzle.tmpl" %}
{% set nav_current = 3 %}

{% block puzzle_title %}
	{% if departement_num %}
    	Département : {{ departement_nom }} ({{ departement_num }})
	{% else %}
		Département inconnu
	{% endif %}
{% endblock %}

{% block main %}
    {{ super() }}
{% endblock %}