{% extends "play/puzzle.tmpl" %}
{% set nav_current = 3 %}

{% block puzzle_title %}
    Votre puzzle perso : {{ image['nom_image'] }}
{% endblock %}

{% block main %}
    {{ super() }}
{% endblock %}