{% extends "page.tmpl" %}


{% block head %}

{{ super() }}

<style>
{% set board_width_vw = 50 %}
{% set board_height_vw = board_width_vw * board_height / board_width %}
{% set cell_size_vw = board_width_vw / board_width %}
{% set cell_overflow_vw = cell_size_vw * 0.75 %}

#tile-container {
	display: flex;
	flex-wrap: wrap;
	{#gap: {{ 2*cell_overflow_vw }}vw;#}
	{#padding: {{ cell_overflow_vw }}vw;#}
}
.puzzle-board {
	width:  {{board_width_vw}}vw;
	height: {{board_height_vw}}vw;
}
.puzzle-row {
	width: {{board_width_vw}}vw;
	height: {{cell_size_vw}}vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.puzzle-cell, .puzzle-tile {
	position: relative;
	width: {{cell_size_vw}}vw;
	height: {{cell_size_vw}}vw;
}
.puzzle-tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.puzzle-image-container img {
    width: 100%;
    height: 100%;
    display: block;
}
</style>

<script src="/static/js/script-puzzle-tiles.js" defer></script>

{% endblock %}


{% block main %}
{# données du serveur à passer au js #}
<span display="none" id="board-width">{{ board_width }}</span>
<span display="none" id="board-height">{{ board_height }}</span>
<span display="none" id="solution-hash">{{ solution_hash }}</span>
<span display="none" id="image-id">{{ image['id_image'] }}</span>

	<img src="{{ image['url'] }}">
<p class="puzzle-hint">Vous pouvez déplacer les pièces en "drag and drop", et les tourner avec un double-clic</p>
<div id="tile-container">
	<div class="puzzle-board">

		{% for row in range(board_width) %}
		<div class="puzzle-row" id="puzzle-row-{{ row + 1 }}">
			{% for col in range(board_height) %}
			<div class="puzzle-cell" id="puzzle-cell-{{ row + 1 }}-{{ col + 1 }}">
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		
	</div>
	<script src="/static/js/script-split-puzzle.js" defer></script>
	<input id="imageurl" type="hidden" value="{{ image['url'] }}">
	<input id="imagesize" type="hidden" value="{{ board_width }}">
	<input id ="cellsize" type ="hidden" value="{{ 50 / board_width }}">
	{% for i in range (board_width * board_height) %}
	<div class="puzzle-tile" draggable="true">
		<div class="puzzle-image-container">
			<img id="tile{{ i }}"></img>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}

