{% extends "page.tmpl" %}


{% block head %}

{{ super() }}

<style>
{% set board_width_vw = 50 %}
{% set board_height_vw = board_width_vw * board_height / board_width %}
{% set cell_size_vw = board_width_vw / board_width %}
{% set cell_overflow_vw = cell_size_vw * 0.375 %}

#tile-container {
	display: flex;
	flex-wrap: wrap;
	gap: {{ 2*cell_overflow_vw }}vw;
	padding: {{ cell_overflow_vw }}vw;
}
.puzzle-board {
	width:  {{board_width_vw}}vw;
	height: {{board_height_vw}}vw;
}
.puzzle-row {
	width: {{board_width_vw}}vw;
	height: {{cell_size_vw}}vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.puzzle-cell, .puzzle-tile {
	position: relative;
	width: {{cell_size_vw}}vw;
	height: {{cell_size_vw}}vw;
}
.puzzle-image-container {
	position: absolute;
	left:   -{{cell_overflow_vw}}vw;
	right:  -{{cell_overflow_vw}}vw;
	top:    -{{cell_overflow_vw}}vw;
	bottom: -{{cell_overflow_vw}}vw;
	z-index: 1;
}
</style>

<script src="/static/js/script-puzzle-tiles.js" defer></script>

{% endblock %}


{% block main %}
{# données du serveur à passer au js #}
<span display="none" id="board-width">{{ board_width }}</span>
<span display="none" id="board-height">{{ board_height }}</span>
<span display="none" id="solution-hash">{{ solution_hash }}</span>

<p class="puzzle-hint">Vous pouvez déplacer les pièces en "drag and drop", et les tourner avec un double-clic</p>
<div id="tile-container">
	<div class="puzzle-board">

		{% for row in range(board_width) %}
		<div class="puzzle-row" id="puzzle-row-{{ row+1 }}">
			{% for col in range(board_height) %}
			<div class="puzzle-cell" id="puzzle-cell-{{ row+1 }}-{{ col+1 }}">
			</div>
			{% endfor %}
		</div>
		{% endfor %}
		
	</div>

	{% for tile in puzzle_tiles %}
	<div class="puzzle-tile" id="puzzle-tile-{{ tile.id }}" draggable="true">
		<div class="puzzle-image-container">
			<img src="{{ tile.img }}" style="transform: rotate(0deg)"></img>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}

