{% extends "page.tmpl" %}

{% block nav %}
{% set nav_items = nav_items + [
	{"target": "/connexion", "text": "Connexion", "level": 1},
	{"target": "/inscription", "text": "Inscription", "level": 1}] %}
{{ nav_tmpl.nav(nav_items, 7) }}
{% endblock %}

{% block main %}
<h1 class="title" id="contactFormTitle">Se connecter</h1>

<form action="/traitementConnexion" id="contactForm" method="POST">

	<label for="username">Pseudo :</label>
	<input type="text" id="username" name="username" value="{{ data.username }}" required>

	<label for="password">Mot de passe :</label>
	<input type="password" name="password" id="password" required>

	<button type="submit" class="btn btn-primary">Se connecter</button>

</form>
<div class="mt-1">
	Pas encore de compte ? <a href="/inscription"><button class="btn btn-primary">S'inscrire</button></a>
</div>
{% endblock %}
