{% extends "page.tmpl" %}

{% block main %}
<h1 class="title" id="contactFormTitle">Se connecter</h1>

<form action="/traitementConnexion" id="contactForm" method="POST">

	<label for="username">Pseudo :</label>
	<input type="text" id="username" name="username" value="{{ data.username }}" required>

	<label for="password">Mot de passe :</label>
	<input type="password" name="password" id="password" required>

	<button type="submit">Se connecter</button>

	<div style="margin-top: 15px; text-align: center; font-size: 0.9em;">
		<a href="/inscription">Pas encore de compte ? S'inscrire</a>
	</div>
</form>
{% endblock %}
