{% extends "page.tmpl" %}

{% block nav %}
	{% set nav_items = nav_items + [
	{"target": "/difficulte", "text": "Création Partie"}] %}
	{{ nav_tmpl.nav(nav_items, 7) }}
{% endblock %}

{% block main %}
	Selection de la difficulté pour le département {{ departement }}
	Voici l'image séléctionnée : {{ image }}
{% endblock %}
