{% extends "page.tmpl" %}

{% block nav %}
	{% set nav_items = nav_items + [
	{"target": "/difficulte", "text": "Création Partie"}] %}
	{{ nav_tmpl.nav(nav_items, 7) }}
{% endblock %}

{% block main %}
	{% if departement %}
		<p> Selection de la difficulté pour le département {{ departement }}</p>
	{% endif %}
	<p>
		Voici l'image séléctionnée : {{ image }}
	</p>
	<img src="{{ image['url'] }}" style="object-fit: cover;width: 300px;height: 300px;">
{% endblock %}
