{% extends "page.tmpl" %}

{% block nav %}
{{ nav_tmpl.nav(nav_items, 0) }}

{% endblock %}

{% block main %}
<h2>Puzzles à la carte :</h2>
<p>
	En allant sur la <a href="/map">carte des puzzles</a>, vous pouvez choisir un monument aléatoire dans un département.<br>
	Vous aurez alors une photo du monument à reconstituer.<br>
	Quand vous pensez l'avoir reconnu, vous pouvez deviner de quel monument il s'agit pour des points bonus.
</p>
<hr>
<h2>Puzzles personels :</h2>
<p>
	Vous pouvez créer vos propres puzzles à partir de vos photos via <a href="/personal-puzzles/create-puzzle">Créer un puzzle</a>
</p>
<p>
	{% if not user_name %}
		<a href="/connexion">Connectez-vous</a> pour pouvoir créer des puzzles, ou <a href="/inscription">créez un compte</a> si vous n'en avez pas.
	{% endif %}
</p>
{% endblock %}
