{% extends "page.tmpl" %}

{% block nav %}
{% set nav_items = nav_items + [
	{"target": "/connexion", "text": "Connexion", "level": 1},
	{"target": "/inscription", "text": "Inscription", "level": 1}] %}
{{ nav_tmpl.nav(nav_items, 8) }}
{% endblock %}

{% block main %}
<h1 class="title" id="contactFormTitle">Créer un compte</h1>

<form action="/traitementInscription" method="POST" id="contactForm">
	<label for="username">Pseudo :</label>
	<input type="text" id="username" name="username" value="{{ data.username }}" required>

	<label for="password">Mot de passe :</label>
	<input type="password" id="password" name="password" required>

	<label for="confirm_password">Confirmer le mot de passe :</label>
	<input type="password" id="confirm_password" name="confirm_password" required>

	<button type="submit" class="btn btn-primary">S'inscrire</button>

</form>
<div class="mt-1">
	Déjà un compte ? <a href="/connexion"><button class="btn btn-primary">Se connecter</button></a>
</div>
{% endblock %}