<!doctype html>

{% import "nav.tmpl" as nav_tmpl %}

<html lang="fr">
<head>
	{% block head %}

	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/bootstrap.js"></script>
	
	{% endblock %}
</head>

<body>
	<div class="d-flex flex-column">
		<header>
			{% block header %}
			<div class="d-flex align-content-center justify-content-start m-1 p-2 bg-primary">

				<div class="user-icon">
					<svg width="100%" height="100%" viewBox="0 0 24 24">
						<a href="/connexion">
							<circle cx="50%" cy="50%" r="50%"/>
							<path d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"/>
						</a>
					</svg>

					<div class="d-flex flex-column justify-content-center position-absolute top-0 start-0 bottom-0 end-0">
						<span class="text-center">{{ user_name }}</span>
					</div>
				</div>

				<h2>Header</h2>

			</div>
			{% endblock %}
		</header>
		<div class="d-flex flex-row">
			<nav>
				{% set nav_items = [
					{"target": "/", "text": "Accueil"},
					{"target": "/map", "text": "Carte des puzzles"},
					{"target": "/personal-puzzles", "text": "Mes puzzles"},
					{"target": "/personal-puzzles/create-puzzle", "text": "Créer un puzzle", "level": 1},
					{"target": "/play", "text": "Jouer"},
					{"target": "/play/official-puzzle", "text": "Puzzle officiel", "level": 1},
					{"target": "/play/personal-puzzle", "text": "Puzzle personnel", "level": 1}]
				%}
				{% block nav %}
				{{ nav_tmpl.nav(items = nav_items, current = 0) }}
				{% endblock %}
			</nav>
			<main>
				{% block main %}
				{% endblock %}
			</main>
		</div>
		<footer>
			{% block footer %}
			<div class="d-flex flex-row align-content-center justify-content-start m-1 p-2 bg-secondary">
				<p>
					Boullot Matthias<br>
					Cauchy Timothée<br>
					Ciserane Marius<br>
					Ho-Huu-Campanelli Francesco<br>
					Laporte Valentin
				</p>
				<h3>Footer</h3>
			</div>
			{% endblock %}
		</footer>
	</div>
</body>

</html>
