<!doctype html>

{% import "nav.tmpl" as nav_tmpl %}

{% set pages_path = app_path ~ "/view/renders/" %}

<html lang="fr">
<head>
	{% block head %}

	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ app_path }}/view/css/bootstrap.css">
	<link rel="stylesheet" href="{{ app_path }}/view/css/style.css">
	<script src="{{ app_path }}/view/js/bootstrap.js"></script>
	
	{% endblock %}
</head>

<body>
	<nav class="d-flex flex-column">
		<header>
			{% block header %}
			<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-primary">
				<h2>Header</h2>
			</div>
			{% endblock %}
		</header>
		<div class="d-flex flex-row">
			<nav>
				{% set nav_items = [
					{"target": pages_path ~ "index.html", "text": "Accueil"},
					{"target": pages_path ~ "map.html", "text": "Carte des puzzles"},
					{"target": pages_path ~ "personal-puzzles/index.html", "text": "Mes puzzles"},
					{"target": pages_path ~ "personal-puzzles/create-puzzle.html", "text": "Créer un puzzle", "level": 1}]
				%}
				{% block nav %}
				{{ nav_tmpl.nav(items = nav_items, current = 0) }}
				{% endblock %}
			</nav>
			<main>
				{% block main %}
				{% endblock %}
			</main>
		</div>
		<footer>
			{% block footer %}
			<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-secondary">
				<h3>Footer</h3>
			</div>
			{% endblock %}
		</footer>
	</div>
</body>

</html>
