<!doctype html>

{% import "nav.tmpl" as nav_tmpl %}

<html lang="fr">
<head>
	{% block head %}
	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="static/js/bootstrap.js"></script>
	{% endblock %}
</head>

<body>
	<nav class="d-flex flex-column">
		<header>
			{% block header %}
			<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-primary">
				<h2>Header</h2>
			</div>
			{% endblock %}
		</header>
		<div class="d-flex flex-row">
			<nav>
				{% block nav %}
				{{ nav_tmpl.nav(current = 0, items = [
				{"target": "/", "text": "Accueil"},
				{"target": "/map", "text": "Carte des puzzles"},
				{"target": "/personal-puzzles", "text": "Mes puzzles"}
				]) }}
				{% endblock %}
			</nav>
			<main>
				{% block main %}
				{% endblock %}
			</main>
		</div>
		<footer>
			{% block footer %}
			<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-secondary">
				<h3>Footer</h3>
			</div>
			{% endblock %}
		</footer>
	</div>
</body>

</html>
