main {
	width: 100%;
}
nav {
	flex-basis: 12em;
}

a.active {
	background-color: color(from var(--bs-primary) srgb r g b / 15%);
}

.map-container {
	position: relative;
	width: 70vw;
	height: calc(70vw * 1080 / 1476);
	margin-left: auto;
	margin-right: auto;

	img, svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

#department-shapes path {
	fill: #ffffff00;
	stroke: #00000060;
	stroke-width: 0.15em;
	stroke-linejoin: round;
}
#department-shapes path:hover {
	fill: #ffffff60;
	stroke: #00000060;
}
