main {
	width: 100%;
}
nav {
	flex-basis: 12em;
}

a.active {
	background-color: color(from var(--bs-primary) srgb r g b / 15%);
}

.map-container {
	position: relative;
	width: 70vw;
	height: calc(70vw * 1898 / 2000);
	margin-left: auto; margin-right: auto;

	img, svg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
	}
}

#department-shapes path {
	fill: #ffffff00;
}
#department-shapes path:hover {
	fill: #ffffff60;
	stroke: #00000060;
}

.puzzle-cell {
	border: solid;
	border-color: #d0d0d0;
	border-width: 0.1em;
}

.puzzle-image-container {
	cursor: move;

	img {
		width: 100%; height: 100%;
	}
}

.user-icon {
	position: relative;
	width: 5em; height: 5em;

	circle {
		fill: #e0e0e0;
	}
	path {
		fill: none;
		stroke: #b0b0b0;
		stroke-width: 2;
		stroke-linecap: round; stroke-linejoin: round;
	}

	> div {
		pointer-events: none;
	}
}