<!doctype html>



<html lang="fr">
<head>
	
	<title>GeoPuzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/css/bootstrap.css">
	<link rel="stylesheet" href="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/css/style.css">
	<script src="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/js/bootstrap.js"></script>
	
	</head>

<body>
	<nav class="d-flex flex-column">
		<header>
						<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-primary">
				<h2>Header</h2>
			</div>
					</header>
		<div class="d-flex flex-row">
			<nav>
								
<div class="d-flex flex-column m-1 bg-secondary-subtle">
					

<a class="nav-link p-1 " href="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/renders/index.html">
	Accueil
</a>

					

<a class="nav-link p-1 " href="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/renders/map.html">
	Carte des puzzles
</a>

					

<a class="nav-link p-1 active" href="#">
	Mes puzzles
</a>

					
	
<a class="nav-link p-1 " href="/home/cauch/Documents/School/ProjetPuzzle/projet-tutore/app/view/renders/personal-puzzles/create-puzzle.html">
	| Créer un puzzle
</a>

	</div>

			</nav>
			<main>
					<p>Vous n'avez pas encore créé de puzzle.</p>
<a href="create-puzzle.html"><button class="btn btn-primary">Créer un puzzle</button></a>
			</main>
		</div>
		<footer>
						<div class="d-flex align-content-center justify-content-center m-1 p-2 bg-secondary">
				<h3>Footer</h3>
			</div>
					</footer>
	</div>
</body>

</html>